doctype html
html
  head
    title Produce Shop
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h1#websitetitle Produce Shop
      ul
        li
          a(href="/store/") Home
        li
          a(href="/store/origin/create") Create origin 
        li
          a(href="/store/product/create") Create product
    block content
